<!DOCTYPE html>
<html lang="en">
<head>
	<title>Let's chat</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css' ) }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
<script language="JavaScript">
		function habilita(){
			$(".inputText").removeAttr("disabled");
		}

		function deshabilita(){
			$(".inputText").attr("disabled","disabled");
		}
	</script>
</head>
<body>
	<div class=""container>
		<div class="row justify-content-center">
			<div class="col-md-8 col-sm-12 col-offset-md-2">
				<div class="container">
					<div class="row">
						<form class="col-sm validate-form" method="POST">
							<div class="form-row align-items-center">
							{{ form.hidden_tag() }}
							<h1 style="margin: 30px;">Flask chat with SOCKET IO</h1>
							<div class="col-auto validate-input" data-validate="Name is required">
								<input class="form-control" class="lnr lnr-user" id="name" name="name" type="text"  placeholder="Nickname">
							</div>
							<div class="col-auto input-group mb-3">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01">Rooms</label>
								</div>
								<select onchange="cambio()" class="custom-select" id="inputGroupSelect01">
									<option selected value="-1" disabled>Select option...</option>
									{%for a in lista%}
									<option value="{{a}}">{{a}}</option>
									{%endfor%}
									<option value="crear">Create room</option>
								</select>
							</div>
							<div class="col-auto wrap-input100 validate-input" data-validate="Name is required">
								<input class="form-control" id="room" type="text" name="room" placeholder="Room Name" style="display:none">
							</div>
							<div class="col-auto">
									<button type="submit" class="btn btn-info" >
										Submit
									</button>
							</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script>
		function cambio(){
			var valor_select = document.getElementById('inputGroupSelect01').value;
			if(valor_select == "crear"){
				document.getElementById('room').style.display = 'block';
			}
			else{
				document.getElementById('room').style.display = 'none';
				document.getElementById('room').value = valor_select;
			}
		}
	</script>

    </body>
</html>